.o-content-wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 1em 0 1em;
  overflow: hidden;
}

.o-flex-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.o-col-half{
  width: 45%;
     @media (max-width:$tablet--small){
      width:100%;
  }
}
