.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:$tablet--small) {
        width: auto;
    }
}

.site-logo {
    position: relative;
    min-width: 160px;
    width: 160px;
    height: 180px;
    //background-color: $orange;
    background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




    span {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }
    @media (max-width:$tablet--small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100px;

        span {
            position: static;
        }
    }
}

.social-nav {
    padding: 1em;

    li {
        padding: 0.5em;
        font-size: 1rem;
        color: #777777;

        a {
            color: $orange;
        }
    }

    ul:nth-child(2) {
        li {
            position: relative;
            display: inline-block;

            img {
                height: 25px;
            }

            .social-nav__tooltip {
                opacity: 0;
                position: absolute;
                left: -15px;
                bottom: -40px;
                padding: 0.5rem;
                background-color: $orange;
                color: #fff;
                border-radius: 3px;
                transition: 0.2s ease-in;
                @media (max-width:$tablet) {
                    display: none;
                }
            }

            .social-nav__tooltip::after {
                position: absolute;
                top: -10px;
                left: 25px;
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $orange;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }

                .social-nav__tooltip {
                    opacity: 1;
                }
            }
        }
    }
}
