.c-skillset {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 1em 0;
  @media (max-width:$tablet) {
    width: 80%;
  }
  @media (max-width:$tablet--small) {
    width: 50%;
  }
  @media (max-width:$mobile--large) {
    width: 80%;
  }
}

.c-skillset__skill {width: 20%;}

.skillset__graph__bar h3{
  text-align: center;
  padding: 1em 0;
}

.bar{
  position: relative;
  width: 100%;
  height: 120px;
  background-color:var(--background-bar);
  border-radius: 5px;
}


.bar__amount-90 {
  height: 90%;
  animation: fill_90 2s;
  @keyframes fill_90 {
    0% {
      height: 0;
    }

    100% {
      height: 90%;
    }
  }
}


.bar__amount-60 {
  height: 60%;
  animation: fill_60 3s;
  @keyframes fill_60 {
    0% {
      height: 0;
    }

    100% {
      height: 60%;
    }
  }
}

.bar__amount-40{
  height: 40%;
  animation: fill_40 4s;
  @keyframes fill_40 {
    0% {
      height: 0;
    }

    100% {
      height: 40%;
    }
  }
}


.bar__filling {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  background-color: $orange;
  background: var(--gradient);
}


/* Skill Set Pills */

.c-skillset__pills {
  display: flex;
  width: 65%;
}

.c-skillset__pills ul{
  margin-right: 1em;
  height: auto;
}

.c-skillset__pills li{
  max-width: 160px;
  padding: 1em 3em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  text-align: center;

  @media (max-width:$tablet) {
    font-size: 14px;
    padding: 1em;
  }
}
