html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-colour);
  @media (max-width:$tablet) {
    font-size: 80%;
  }
}

body{
  line-height: 1.5;
}

img{
  width: 100%;
}

a {
  color: var(--link-colour);
}
