:root {
--text-colour: #394149;
--link-colour: #F6A623;
--background:#F6A623;
--gradient: linear-gradient(to left, #FFB75E , #ED8F03);
--background-bar:rgba(246, 166, 35, 0.2);

}



.theme-blue {
--text-colour: #394149;
--link-colour: #1e3c72;
--background:#1e3c72;
--gradient:linear-gradient(to right, #1e3c72, #2a5298);
--background-bar:rgba(30, 60, 114, 0.2);
}

.theme-blue__svg{
    .cv-section__experience__job__date:before{
      content: url('../img/line--blue.svg')!important;
    }
}



html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-colour);
  @media (max-width:$tablet) {
    font-size: 80%;
  }
}

a {
  color: var(--link-colour);
}


.c-toggle-theme{
  position:fixed;
  left:2%;
  bottom: 3%;
  width: 50px;
  height: 50px;
  opacity: .5;
  cursor: pointer;
}

.c-toggle-theme:hover{
  opacity: 1;
}
