html{
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  color:$font-colour;

  @media (max-width:$tablet){
    font-size: 80%;
  }




}


h1{
  width: 70%;
  padding: 1.5em 0 1.5em 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;

      @media (max-width:$tablet){
    width:100%;
  }

    @media (max-width:$tablet--small){
    font-size: 2rem;
    padding: 1.5em 0.5em 1.5em 0.5em;
  }
}

h2{
  padding: 1em 0 1em 0;
}


p{
  padding: 0.5em 0 0.5em 0;
  font-weight: 300;
  line-height: 1.5;

}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
